<div class="input-group mb-3">
    <div class="input-group-prepend">
        Fabric Identity Url
    </div>
    <input type="text" class="form-control" placeholder="url" aria-label="url" [(ngModel)]="identityUrl"  />
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        Fabric-Installer Secret
    </div>
    <input type="text" class="form-control" placeholder="secret" aria-label="secret" [(ngModel)]="fabricInstallerSecret"  />
</div>
<div class="panel panel-default">
  <div class="panel-body">
    {{installerToken}}
  </div>
</div>
<div class="btn-group" role="group" aria-label="getToken">
  <button type="button" class="btn btn-default" (click)="getToken()">Get Token</button>
</div>
