<div class="container-fluid">
  <mat-tab-group>
    <mat-tab label="Get Access Token">
        <app-get-installer-access-token (messageEvent)="receivedToken($event)"></app-get-installer-access-token>
    </mat-tab>
    <mat-tab label="Create Client">
        <app-create-client [secret]="secret" [identityUrl]="identityUrl"></app-create-client>
    </mat-tab>
    <mat-tab label="Get Client">
        <app-get-clients [secret]="secret" [identityUrl]="identityUrl"></app-get-clients>
    </mat-tab>
    <mat-tab label="Reset Client Password">
        <app-reset-client [secret]="secret" [identityUrl]="identityUrl"></app-reset-client>
    </mat-tab>
    <mat-tab label="Get Identity Providers">
        <app-get-identity-providers [secret]="secret" [identityUrl]="identityUrl"></app-get-identity-providers>
    </mat-tab>
    <mat-tab label="Search Users">
        <app-get-user-by-identity-provider [secret]="secret" [identityUrl]="identityUrl"></app-get-user-by-identity-provider>
    </mat-tab>
    <mat-tab label="Get API Resource">
        <app-get-api-resource [secret]="secret" [identityUrl]="identityUrl"></app-get-api-resource>
    </mat-tab>
    <mat-tab label="Get Identity Resource">
        <app-get-identity-resource [secret]="secret" [identityUrl]="identityUrl"></app-get-identity-resource>
    </mat-tab>
  </mat-tab-group>
</div>
